<a href="https://colab.research.google.com/github/Panth23/Machine-Learning/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List []

In [2]:
#list should be enclosed in square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [4]:
# lists can have muliple data types
my_list = [2,3,1.8,"English",True]
print(my_list)

[2, 3, 1.8, 'English', True]

List are Mutable --> Changable

In [6]:
# add elements to a list
my_list = [2,3,1.8,"English",True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [7]:
#printing list elements by their index
print(my_list[0])
print(my_list[4])

2
True

In [8]:
#list allow duplicate values
list_1 = [1,2,3,4,5,3,2,1,2]
print(list_1)

[1, 2, 3, 4, 5, 3, 2, 1, 2]

In [10]:
#length of a list
print(len(list_1))

9

In [12]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [14]:
list_2.append(5)
print(list_2)

[5, 5]

In [15]:
#deleting an item
list_1 = [1,2,3,4,5,3,2,1,2]
print(list_1)

del list_1[2]
print(list_1)

[1, 2, 3, 4, 5, 3, 2, 1, 2]
[1, 2, 4, 5, 3, 2, 1, 2]

In [16]:
#join two list
list_3 = [1,2,3,4,5,6]
list_4 = [7,8,9,10]
list_5 = list_3+list_4

print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Tuples ()

In [18]:
tuple_1  = (2,43,4,5)
print(tuple_1)
type(tuple_1)

(2, 43, 4, 5)

tuple

In [20]:
#we can have mutliple datatypes in it
tuple_2 = (1,23,4,True,"Patel")
print(tuple_2)

(1, 23, 4, True, 'Patel')

In [21]:
# converting a list to tuple
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

Tuple are immutable i.e Uncahngable

In [22]:
#we cannot append in tupple
my_tuple.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
#length in tuple
print(len(my_tuple))

4

Set {}

In [24]:
my_set = {1,2,3,4}
print(my_set)
type(my_set)

{1, 2, 3, 4}

set

In [26]:
#set does not support indexing
print(my_set[2])

TypeError: 'set' object is not subscriptable

In [27]:
# conerting a list to a setmy_lius
my_list = [4,5,6,7]

x = set(list_5)
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
# set does not allow duplicate values i.e.
my_set = {1,23,44,4,4,4,2,2,3,4,5,5}
print(my_set)

{1, 2, 3, 4, 5, 23, 44}

Dictionary

Key-Value Pair

In [32]:
my_dictionary = {'name':'Rodrique', 'age':'24', 'country':'Canada'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Rodrique', 'age': '24', 'country': 'Canada'}

dict

In [33]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Rodrique
24
Canada

In [35]:
# dictionaries do not have duplicate values
dictionary_2 = {'name':'Rodrique', 'age':'24', 'country':'Canada','name':'Rodrique', 'age':'24', 'country':'Canada'}
print(dictionary_2)

{'name': 'Rodrique', 'age': '24', 'country': 'Canada'}