<a href="https://colab.research.google.com/github/Panth23/Machine-Learning/blob/main/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Arithmetic Operators

In [1]:
num_1 = 20
num_2 = 10

#addition
sum = num_1+num_2
print("sum = ",sum)

#subtraction
sub = num_1 - num_2
print("subtraction = ",sub)

#multiplication
multi = num_1*num_2
print("multiplication",multi)

#division
div = num_1/num_2
print("division",div)

#exponent
exp = num_1**num_2
print("exponent = ",exp)

#modulus
mod = num_1%num_2
print("modulus",mod)

sum =  30
subtraction =  10
multiplication 200
division 2.0
exponent =  10240000000000
modulus 0

#Assignment Operators

In [2]:
a = 5
b = 2
b +=a
print(b)
b -=a
print(b)
b *=a
print(b)

# same for mod , div, exp

7
2
10

#Comparision Operators

In [3]:
# it returns boolan value
a = 5
b = 10

print(a==b)
print(a<=b)
print(a>=b)
print(a!=b)
print(a<b)
print(a>b)

False
True
False
True
True
False

#Logical Operators

In [4]:
a = 10

print( a>20 and a>5)
print( a>20 or a>5)
print(not(a>20 and a>5))

False
True
True

#Identity Operator

is

is not

In [7]:
x = 5
y = 5

print(x is y)

True

In [6]:
x = 5
y = 10

print(x is y)

False

In [8]:
x = 5
y = 10

print(x is not y)

True

#Membership Operator

in

not in

In [9]:
a = 5
b = 10

c  =[1,3,4,5,6]
print(a in c)
print(b in c)

print(a not in c)
print(b not in c)

True
False
False
True